#pageTitleContainer {
  position: relative;
}

#pageTitle {
  position: relative;
  color: #000; /* Defina a cor do texto */
  z-index: 1; /* Garante que o texto esteja acima da linha */
}

#underline {
  position: absolute;
  width: auto;
  height: 3px;
  background-color: #f00;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  bottom: 0; 
  left: 0;
}

.nav-item{
  height: 16.66%;
  
  min-width: 100% !important;
}

#cargo{
    font-size: 18px;
}

#navExpandida{
  display: none;
  width: 10%;
  left: 10%;
  z-index: 2;
  position: fixed;
  height: 100%;
  background-color: #f00;
  
  
}

#navTransition{
  cursor: pointer;
}

@keyframes slideIn{
  from{
    width: 0%;
    opacity: 1;
  }
  to{
    width: 10%;
    opacity: 1;
  }
}

@keyframes slideOut{
  from{
    width: 10%;
    opacity: 1;
  }
  to{
    width: 0%;
    opacity: 1;
  }
}