#sectionPrincipal{
    height: 80% ;
    display: flex;
}

#sectionFluxoViagens{
    
}


.item1{
    width: 100%;
}
.item3{
    width: 30%;
}

.link{
    width: 30%;
    text-decoration: none;
    color: #000000;
}
.item2{
    width: 100%;
    border: none;
    border-left: 1px solid #dd2d4a;
    border-right: 1px solid #dd2d4a;
}

.link2{
    width: 40%;
    text-decoration: none;
    color: #000000;
}

.item{
    width: 100%;

}
#grafico{
    padding: 20px;
}

#grafico:hover{
    cursor: pointer;
}

@keyframes flipSection{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
        opacity: 0;
    }
}

@keyframes desflipSection{
    from{
        transform: rotateY(45deg);
        opacity: 0;
    }
    to{
        transform: rotateY(0deg);
        opacity: 1;
    }
}



